<link rel="stylesheet" href="../../assets/stylesheets/stylesheet.css">
<body>

<main>

  <div class="boxy" id="<%= dom_id product %>">
    <p>
      <strong>Supplier:</strong>
      <%= product.supplier.name %>
    </p>
    <p>
      <strong>Name:</strong>
      <%= product.name %>
    </p>

    <p>
      <strong>Quantity:</strong>
      <%= product.quantity %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= product.price %>
    </p>

  </div>

</main>


</body>
