<link rel="stylesheet" href="../../assets/stylesheets/stylesheet.css">
<body>

<main>

  <%= form_with(model: shipment) do |form| %>
    <% if shipment.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

        <ul>
          <% shipment.errors.each do |attribute, message| %>
            <li><%= attribute %> <%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :order_id %>
      <%= form.collection_select :order_id, @orders, :id, :id %>
    </div>

    <div>
      <%= form.label :shipment_date, style: "display: block" %>
      <%= form.date_field :shipment_date %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>

</main>
</body>